<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Sporty Shoes Inventory</h1>

		<a th:href = "@{/admin}"> Back to Admin Page</a>

		<hr>
		<form action="#" th:action="@{/admin/manage/shoes/change}" th:object="${shoes}" method="POST">
			<button type="submit" class="btn btn-info col-2">Update</button>
		</form>

		<table border="1" class = "table table-striped table-responsive-md">
			<tbody>
			<tr th:each="shoe : ${shoes}">
				<td><input type="text" th:text="${shoe.name}"/></td>
				<td>
					<input type="text" th:text="${shoe.category}"/>
				</td>
				<td>
					<input type="text" th:text="${shoe.imagePath}"/>
				</td>
				<td>
					<input type="text" th:text="${shoe.price}"/>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
