<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>User Management System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h2>User Sign up</h2>
  <form action="#" th:action="@{/register}" th:object="${user}" method="POST">
    <label>Name: </label>
    <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
    <label>Username: </label>
    <input type="text" th:field="*{username}" class="form-control mb-4 col-4">
    <label>Password: </label>
    <input type="password" th:field="*{password}" class="form-control mb-4 col-4">
    <label>Category: </label>
    <select name="category" th:field="*{category}" class="form-control mb-4 col-4">
      <option value="men">Men</option>
      <option value="women">Women</option>
      <option value="kids">Kids</option>
    </select>
    <button type="submit" class="btn btn-info col-2">Register</button>
  </form>

  <hr>

  <a th:href = "@{/}"> Back to Login Page</a>
</div>
</body>
</html>
